@font-face{
	font-family: 'Motiva Sans';
	src: url('/round_menu/fonts/MotivaSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Motiva Sans';
	src: url('/round_menu/fonts/MotivaSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'Motiva Sans';
	src: url('/round_menu/fonts/MotivaSans-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: 'Motiva Sans';
	src: url('/round_menu/fonts/MotivaSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
body{
	height: 562px;
	width: 448px;
    margin: 0 auto;
    background-color: #191919;
}
div.global_block{
	height: 100%;
	width: 100%;
	background-color: #151515;
	overflow: hidden;
    position: relative;
}
div.left_block, div.right_block{
	height: 100%;
	transition: width 0.5s ease-in-out;
	position: absolute;
}
div.left_block{
	width: 20%;
	background-color: #1D1D1D;
	left: 0;
	display: none;
}
div.right_block{
	width: 100%;
	right: 0;
}
div.left_block:hover, div.left_block:hover ~ div.right_block{
	width: 50%;
}
div.head_block{
	height: 64px;
	width: 100%;
}
div.head_block>img{
	height: 32px;
	width: 32px;
	float: right;
	margin: 16px 16px 0 0;
	cursor: pointer;
}
div.head_block>img.logo{
    height: 32px;
    width: 64px;
    cursor: default;
    margin: 16px 19px;
}
div.head_block>img[data-type="close"]{
    display: none;
    height: 20px;
    width: 20px;
    top: 6px;
    right: 54px;
    position: absolute;
}
div.head_block>img[data-type="close"].active{
    display: block;
}
div.head_block>input#search_acc{
    height: 32px;
    width: calc(100% - 230px);
    float: right;
    margin: 16px 16px 0 0;
    background-image: url(svg/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left 5px top 7px;
    background-color: #424242;
	outline: none;
    border: none;
    text-align: center;
    color: #CACACA;
    font-size: 16px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    padding: 0 32px 0 32px;
}
div.users{
	height: calc(100% - 64px);
	width: calc(100% - 3px);
	overflow-y: auto;
	overflow-x: hidden;
}
div.right_block>div.users>div.user{
	height: 76px;
	width: calc(100% - 9px);
	background-color: #272727;
	border: 3px #151515 solid;
    position: relative;
    overflow: hidden;
    margin-left: 3px;
}
div.right_block>div.users>div.user.active{
	border: 3px #FFB800 solid;
}
div.right_block>div.users>div.user.selected{
	border: 3px #CACACA solid;
}
div.right_block>div.users>div.user:hover{
	background-color: #424242;
}
div.right_block>div.users>div.user:first-child{
	margin-top: 3px;
}
div.right_block>div.users>div.user:last-child{
	margin-bottom: 3px;
}
div.interface{
    position: absolute;
    top: 0;
    left: 0;
}
div.interface>div{
	height: 16px;
	width: 16px;
	margin: 7px;
	cursor: pointer;
}
div.interface>div[value="user"]{
	background: url(svg/user.svg) no-repeat center;
}
div.interface>div[value="open"]{
	background: url(svg/open.svg) no-repeat center;
}
div.interface>div[value="refresh"]{
	background: url(svg/refresh.svg) no-repeat center;
}
div.right_block>div.users>div.user.active>.interface>div[value="user"]{
    background: #FFB800;
    -webkit-mask-image: url(svg/user.svg);
}
img.avatar{
    height: 64px;
    width: 64px;
    background-color: #222222;
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 30px;
}
img.frame{
    height: 76px;
    width: 76px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 24px;
}
div.name{
	color: #CACACA;
    font-size: 16px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    position: absolute;
    width: auto;
    max-width: calc(100% - 98px);
    top: 0px;
    left: 98px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    text-indent: 4px;
}
div.login{
    color: #FFB800;
    font-size: 12px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: unset;
    position: absolute;
    width: auto;
    max-width: 46%;
    top: 23px;
    left: 98px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    text-indent: 4px;
}
img.link{
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 5px;
    backdrop-filter: blur(2px);
    background-color: #00000091;
    border-radius: 25%;
    left: 98px;
    top: 44px;
    cursor: pointer;
}
div.users::-webkit-scrollbar{
	width: 14px;
}
div.users::-webkit-scrollbar-thumb, div.users::-webkit-scrollbar{
	background-color: #424242;
	background-clip: padding-box;
	border: 3px transparent solid;
	border-radius: 24px;
}
div.users::-webkit-scrollbar{
	background-color: #272727;
}
div.users::-webkit-scrollbar-thumb:hover{
	background-color: #545454;
}
img.menu{
	height: 26px;
	width: 26px;
	position: absolute;
	top: 23px;
	right: 0;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
    padding: 4px 6px;
}
.users>.user>video ~ img.menu, .users>.user>video ~ div.name, .users>.user>video ~ div.login, .users>.user>video ~ div.interface, .users>.user>video ~ div.level>span, .users>.user>video ~ div.level>div{
    backdrop-filter: blur(2px);
    background-color: #00000091;
}
div.right_block>div.users>div.user:hover>img.menu{
    opacity: 1;
}
.users>.user>video{
    width: 100%;
    position: absolute;
    top: -50%;
    transition: 0.5s;
}
.friendPlayerLevel{
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    border: solid #fff 2px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    cursor: default;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
}
div.level>span{
    font-size: 23px;
    color: #ffffff;
    overflow: hidden;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
    position: absolute;
    top: 23px;
    right: 76px;
    opacity: 1;
    height: 32px;
    width: 56px;
    padding: 1px 3px;
}
div.level>div{
    position: absolute;
    top: 23px;
    right: 38px;
	padding: 1px 3px 4px 3px;
    height: 29px;
    width: 32px;
}
div#background{
    background-color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
div#menu{
    background-color: #424242;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    border: 1px #CACACA solid;
    display: none;
}
div#menu>#twofa{
	height: 54px;
    width: 100%;
    background-color: #CACACA;
	overflow: hidden;
    position: relative;
}
div#menu>#twofa>.line{
	animation-duration: 30s;
	animation-name: move;
	background: linear-gradient(90deg, #008000 0%, #ffa500 50%, #ff0000 100%);
	width: 400%;
	height: 10px;
	transition: margin-left 1s;
	margin-left: 0;
    position: absolute;
    bottom: 0;
	transition: margin-left 1s;
	margin-left: 0;
}
div#menu>div:not(#twofa){
    background-color: #191919;
    height: 32px;
    width: calc(100% - 20px);
    margin-bottom: 3px;
    color: #CACACA;
    font-size: 16px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    line-height: 32px;
    padding: 0 10px;
    cursor: pointer;
}
div#menu>div:not(#twofa):hover{
	background-color: #272727;
}
div#menu>div:not(#twofa):last-child{
	margin: 0;
}
img#copy{
    height: 28px;
    width: 28px;
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
}
div#code{
    color: #272727;
    font-size: 28px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    width: calc(100% - 28px);
}
div#background.active, div#menu.active{
	display: block;
}
.close{
    position: absolute;
    right: 10px;
    width: 16px;
    cursor: pointer;
    background-color: #cacaca;
}
.close::after, .close::before{
    top: 16px;
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 3.5px;
    content: "";
    transform: rotate(45deg);
}
.close::before {
    transform: rotate(-45deg);
}
#account{
    background-color: #272727;
    width: 350px;
    height: 480px;
    position: fixed;
    top: 50px;
    left: calc(50% - 175px);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
    user-select: none;
    display: none;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
}
#account.add, #account.edit{
    display: block;
}
#account>.heading, .dialog>.heading{
    color: #cacaca;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px;
    text-transform: uppercase;
}
#account.add>.heading::after{
    content: attr(data-add);
}
#account.edit>.heading::after{
    content: attr(data-edit);
}
#account>label{
    margin: 0 32px;
    font-size: 16px;
    color: #cacaca;
    line-height: 26px;
}
#account>label.active{
    border-bottom: 1.5px solid #cacaca;
}
#account.add>label[for="password"]::after, #account.add>label[for="account_name"]::after{
    content: "*";
    float: left;
    margin: 0 -32px 0 32px;
}
#account>input{
    font-size: 16px;
    padding: 4px 10px;
    color: #BFBFBF;
    outline: none;
    background-color: #191919;
    border: 3px solid #424242;
    border-radius: 2px;
    margin: 0 32px 8px 32px;
    width: calc(100% - 90px);
}
#account>input:not([readonly]):focus{
    border: 3px solid #cacaca;
}
#account>input[readonly], #account>input[disabled]{
    border: 3px solid #181818;
    cursor: default;
}
#account>span{
    margin: 0 -28px;
    color: #545454;
}
#account.edit>label[data-name="twofacode"], #account.edit>span{
    display: none;
}
#account>.button{
    background-color: #cacaca;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 0;
    margin: 10px 32px;
    width: calc(100% - 64px);
    text-align: center;
    font-weight: 600;
}
#account.add>#save::after{
    content: attr(data-add);
}
#account.edit>#save::after{
    content: attr(data-edit);
}
.dialog{
    background-color: #272727;
    width: 380px;
    height: auto;
    position: fixed;
    top: 250px;
    left: calc(50% - 190px);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
    display: none;
}
.dialog.active{
    display: block;
}
.dialog>.content{
    font-size: 16px;
    color: #cacaca;
    text-align: center;
    line-height: 30px;
}
.dialog>.content>span{
    font-size: 14px;
    color: #50B6C8;
}
.dialog>input{
    text-align: center;
    font-size: 16px;
    padding: 4px;
    float: left;
    color: #BFBFBF;
    outline: none;
    background-color: #191919;
    width: 100px;
    border: 3px solid #cacaca;
    border-radius: 2px;
    margin: 10px 0 0 100px;
    text-transform: uppercase;
}
.dialog>.button{
    float: right;
}
.dialog>.button>div{
    background-color: #cacaca;
    border-radius: 2px;
    font-size: 16px;
    margin: 12px 12px 12px 0;
    float: left;
    cursor: pointer;
    padding: 4px 6px;
}
div.info{
    background: url(svg/info.svg) no-repeat center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    color: #191919;
}
.info:hover::after{
    height: 16px;
    width: 180px;
    z-index: 10;
    background: url(svg/info_after.svg) no-repeat;
    position: absolute;
    text-indent: 18px;
    content: attr(data-after);
    top: 0;
    left: 0;
    font-size: 16px;
    cursor: default;
}
.info:hover::before{
    margin: -2px 0px 0 -5px;
    font-size: 12px;
    z-index: 9;
    width: 180px;
    height: auto;
    background-color: #cacaca;
    padding: 22px 8px 8px 8px;
    position: absolute;
    content: attr(data-before);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
    cursor: default;
    font-weight: normal;
}
#account>div.info{
    margin: 4px -28px 0 32px;
    float: left;
}
#account>div.info ~ label{
    cursor: pointer;
}
.LoadingWrapper{
    position: relative;
    margin-bottom: 12px;
}
.LoadingWrapper .LoadingThrobber{
    margin: auto;
    width: 32px;
    height: 32px;
}
@-webkit-keyframes loading_throbber_bar{
    0% {
        -webkit-transform: scale(1.0, 0.7);
    }
    30% {
        -webkit-transform: scale(1.0, 1.0);
    }
    55% {
        -webkit-transform: scale(1.0, 0.7);
    }
    100% {
        -webkit-transform: scale(1.0, 0.7);
    }
}
.LoadingWrapper .LoadingThrobber .Bar{
    -webkit-animation: test 2s infinite;
    float: left;
    margin-right: 3px;
    width: 6px;
    height: 32px;
    background-color: #67c1f5;
    -webkit-animation: loading_throbber_bar 1s ease-in-out infinite;
}
.LoadingWrapper .LoadingThrobber .Bar2{
    -webkit-animation-delay: 0.16s;
}
.LoadingWrapper .LoadingThrobber .Bar3{
    -webkit-animation-delay: 0.32s;
}
.friendPlayerLevel.lvl_0{
    border-color: #9b9b9b
}

.friendPlayerLevel.lvl_10{
    border-color: #c02942
}

.friendPlayerLevel.lvl_20{
    border-color: #d95b43
}

.friendPlayerLevel.lvl_30{
    border-color: #fecc23
}

.friendPlayerLevel.lvl_40{
    border-color: #467a3c
}

.friendPlayerLevel.lvl_50{
    border-color: #4e8ddb
}

.friendPlayerLevel.lvl_60{
    border-color: #7652c9
}

.friendPlayerLevel.lvl_70{
    border-color: #c252c9
}

.friendPlayerLevel.lvl_80{
    border-color: #542437
}

.friendPlayerLevel.lvl_90{
    border-color: #997c52
}

.friendPlayerLevel.lvl_100,.friendPlayerLevel.lvl_200,.friendPlayerLevel.lvl_300,.friendPlayerLevel.lvl_400,.friendPlayerLevel.lvl_500,.friendPlayerLevel.lvl_600,.friendPlayerLevel.lvl_700,.friendPlayerLevel.lvl_800,.friendPlayerLevel.lvl_900,.friendPlayerLevel.lvl_1000,.friendPlayerLevel.lvl_1100,.friendPlayerLevel.lvl_1200,.friendPlayerLevel.lvl_1300,.friendPlayerLevel.lvl_1400,.friendPlayerLevel.lvl_1500,.friendPlayerLevel.lvl_1600,.friendPlayerLevel.lvl_1700,.friendPlayerLevel.lvl_1800,.friendPlayerLevel.lvl_1900,.friendPlayerLevel.lvl_2000,.friendPlayerLevel.lvl_2100,.friendPlayerLevel.lvl_2200,.friendPlayerLevel.lvl_2300,.friendPlayerLevel.lvl_2400,.friendPlayerLevel.lvl_2500,.friendPlayerLevel.lvl_2600,.friendPlayerLevel.lvl_2700,.friendPlayerLevel.lvl_2800,.friendPlayerLevel.lvl_2900,.friendPlayerLevel.lvl_3000,.friendPlayerLevel.lvl_3100,.friendPlayerLevel.lvl_3200,.friendPlayerLevel.lvl_3300,.friendPlayerLevel.lvl_3400,.friendPlayerLevel.lvl_3500,.friendPlayerLevel.lvl_3600,.friendPlayerLevel.lvl_3700,.friendPlayerLevel.lvl_3800,.friendPlayerLevel.lvl_3900,.friendPlayerLevel.lvl_4000,.friendPlayerLevel.lvl_4100,.friendPlayerLevel.lvl_4200,.friendPlayerLevel.lvl_4300,.friendPlayerLevel.lvl_4400,.friendPlayerLevel.lvl_4500,.friendPlayerLevel.lvl_4600,.friendPlayerLevel.lvl_4700,.friendPlayerLevel.lvl_4800,.friendPlayerLevel.lvl_4900,.friendPlayerLevel.lvl_5000,.friendPlayerLevel.lvl_5100,.friendPlayerLevel.lvl_5200 {
    border: none;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-shadow: 1px 1px #1a1a1a
}

.friendPlayerLevel.lvl_100 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_hexagons.png")
}

.friendPlayerLevel.lvl_200 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_shields.png")
}

.friendPlayerLevel.lvl_300 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_books.png")
}

.friendPlayerLevel.lvl_400 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_chevrons.png")
}

.friendPlayerLevel.lvl_500 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_circle2.png")
}

.friendPlayerLevel.lvl_600 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_angle.png")
}

.friendPlayerLevel.lvl_700 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_flag.png")
}

.friendPlayerLevel.lvl_800 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_wings.png")
}

.friendPlayerLevel.lvl_900 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_arrows.png")
}

.friendPlayerLevel.lvl_1000 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_crystals.png")
}

.friendPlayerLevel.lvl_1100 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_space.png")
}

.friendPlayerLevel.lvl_1200 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_waterelement.png")
}

.friendPlayerLevel.lvl_1300 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_fireelement.png")
}

.friendPlayerLevel.lvl_1400 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_earthelement.png")
}

.friendPlayerLevel.lvl_1500 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_airelement_1-2.png")
}

.friendPlayerLevel.lvl_1600 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_airelement_3-4.png")
}

.friendPlayerLevel.lvl_1700 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_airelement_5-6.png")
}

.friendPlayerLevel.lvl_1800 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_airelement_7-8.png")
}

.friendPlayerLevel.lvl_1900 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_airelement_9-10.png")
}

.friendPlayerLevel.lvl_2000 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_geo_1-2.png?v=2")
}

.friendPlayerLevel.lvl_2100 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_geo_3-4.png?v=2")
}

.friendPlayerLevel.lvl_2200 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_geo_5-6.png?v=2")
}

.friendPlayerLevel.lvl_2300 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_geo_7-8.png?v=2")
}

.friendPlayerLevel.lvl_2400 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_geo_9-10.png?v=2")
}

.friendPlayerLevel.lvl_2500 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_mandala_1-2.png?v=2")
}

.friendPlayerLevel.lvl_2600 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_mandala_3-4.png?v=2")
}

.friendPlayerLevel.lvl_2700 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_mandala_5-6.png?v=2")
}

.friendPlayerLevel.lvl_2800 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_mandala_7-8.png?v=2")
}

.friendPlayerLevel.lvl_2900 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_mandala_9-10.png?v=2")
}

.friendPlayerLevel.lvl_3000 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_spiro_1-2.png?v=2")
}

.friendPlayerLevel.lvl_3100 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_spiro_3-4.png?v=2")
}

.friendPlayerLevel.lvl_3200 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_spiro_5-6.png?v=2")
}

.friendPlayerLevel.lvl_3300 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_spiro_7-8.png?v=2")
}

.friendPlayerLevel.lvl_3400 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_spiro_9-10.png?v=2")
}

.friendPlayerLevel.lvl_3500 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_patterns_1-2.png?v=2")
}

.friendPlayerLevel.lvl_3600 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_patterns_3-4.png?v=2")
}

.friendPlayerLevel.lvl_3700 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_patterns_5-6.png?v=2")
}

.friendPlayerLevel.lvl_3800 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_patterns_7-8.png?v=2")
}

.friendPlayerLevel.lvl_3900 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_patterns_9-10.png?v=2")
}

.friendPlayerLevel.lvl_4000 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_shapes_1.png?v=2")
}

.friendPlayerLevel.lvl_4100 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_shapes_2.png?v=2")
}

.friendPlayerLevel.lvl_4200 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_shapes_3.png?v=2")
}

.friendPlayerLevel.lvl_4300 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_shapes_4.png?v=2")
}

.friendPlayerLevel.lvl_4400 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_shapes_5.png?v=2")
}

.friendPlayerLevel.lvl_4500 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_grunge_1.png?v=2")
}

.friendPlayerLevel.lvl_4600 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_grunge_2.png?v=2")
}

.friendPlayerLevel.lvl_4700 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_grunge_3.png?v=2")
}

.friendPlayerLevel.lvl_4800 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_grunge_4.png?v=2")
}

.friendPlayerLevel.lvl_4900 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_grunge_5.png?v=2")
}

.friendPlayerLevel.lvl_5000 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_halftone_1.png?v=2")
}

.friendPlayerLevel.lvl_5100 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_halftone_2.png?v=2")
}

.friendPlayerLevel.lvl_5200 {
    background-image: url("https://steamcommunity-a.akamaihd.net/public/shared/images/community/levels_halftone_3.png?v=2")
}

.friendPlayerLevel.lvl_plus_10 {
    background-position: 0 -32px
}

.friendPlayerLevel.lvl_plus_20 {
    background-position: 0 -64px
}

.friendPlayerLevel.lvl_plus_30 {
    background-position: 0 -96px
}

.friendPlayerLevel.lvl_plus_40 {
    background-position: 0 -128px
}

.friendPlayerLevel.lvl_plus_50 {
    background-position: 0 -160px
}

.friendPlayerLevel.lvl_plus_60 {
    background-position: 0 -192px
}

.friendPlayerLevel.lvl_plus_70 {
    background-position: 0 -224px
}

.friendPlayerLevel.lvl_plus_80 {
    background-position: 0 -256px
}

.friendPlayerLevel.lvl_plus_90 {
    background-position: 0 -288px
}